node_modules/*
public/js/*
.idea/*
.DS_Store
config/*
npm-debug.log
src/client/fonts/*
src/client/stylesheets/fonts/*
*.stpnc
*.min
*.mtc
config.js
models/
DLLS/dependencies.json
DLLS/dependencies.dll.js
DLLS/devdepends.json
DLLS/devdepends.dll.js